{%extends 'base.html'%}
{% block content %}
{{block.super}}

<!--header-->
<div class="container-fluid" id="header-container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8" id="header">
      <!--form start-->
        <form id="search-site"  action="{% url 'search_results' %}" method='get'>
          <div class="input-group">
            <div class="input-field">
            <input id="search" type="search" name='image' placeholder="search category...">
          </div>
          <label class="label-icon" for="search">
            <button type="submit" class="input-group-addon btn teal">search</button>
          </label>
          <!--<button type="submit" class="input-group-addon btn">search</button>-->
          </div>
        </form>
      </div>
      <!--form end-->
    </div>
    <div class="col s2"></div>
  </div>
</div>

<!--Filter by location-->
<div class="container">
  <div id="categories">
    <ul style="display: flex; justify-content: space-around;">
      <div class="chip teal lighten-1">
        <a href="#tokyo">Tokyo</a></li>
      </div>
      <div class="chip teal lighten-1">
        <a href="#qatar">Qatar</a></li>
      </div>
      <div class="chip teal lighten-1">
        <a href="#nairobi">Nairobi</a></li>
      </div>
      <div class="chip teal lighten-1">
        <a href="#italy">Italy</a></li>
      </div>
    </ul>
  </div>
</div>
<!-- Looping through images   -->

<div class="container-fluid">
  <div class="row" >
    {% for image_item in images %}
    <div class="col s12 m4 l3" >
      <div class="card-panel hoverable teal darken-4" >
        <div class="card-image">
          <img src="{{image_item.image.url}}" class="responsive-img" alt="Image">
        </div>
        <div class="card-action">
          <button data-target="modal1{{image_item.id}}" class="btn modal-trigger teal">Details</button>
        </div>
      </div>
    </div>
  
    <!-- Modal Structure -->
    <div id="modal1{{image_item.id}}" class="modal">
      <div class="modal-content">
        <img src="{{image_item.image.url}}" alt="" class="responsive-img">
        <h4>{{image_item.name}}</h4>
        <p>{{image_item.description}}</p>
      </div>
      <div class="modal-footer">
        <p>Location {{image_item.location}}</p>
        <p>Category {{image_item.category}}</p>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
      </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are no images in this category</h2>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
